<%- include('partials/head'); -%>
<header>
    <img class="logo" src="images/musiclogo.svg">
</header>

<body>
    <% for ( i=0 ; i < liked.length; i++) { %>
<p>
    <%= liked[i].firstname %>
</p>
<p>
    <%= liked[i].age %>
</p>
<p>
    <%= liked[i].musicGenre %>
</p>
    <% } %>
</body>
<footer>
    <%- include('partials/nav'); -%>
</footer>

</html>