<%- include('partials/head'); -%>
<%- include('partials/header'); -%>

<body>
    <% for ( i=0 ; i < likedUse.length; i++) { %>
    <section class="likeListItem">
    <article class="likeItemText">
        <p class="defaultText" >
            <%= likedUse[i].firstname %>
        </p>
        <p class="defaultText"> 
            Age:
            <%= likedUse[i].age %>
        </p>
        <p class="defaultText">
            Favorite genre:
            <%= likedUse[i].musicGenre %>
        </p>
    </article>
    <article class="likeItemPic">
        <img class="profileimg_list" src=<%= likedUse[i].profilepicture %>>
    </article>
</section>
        <% } %>
</body>
<footer>
    <%- include('partials/nav'); -%>
</footer>

</html>