<%- include('partials/head'); -%>
<%- include('partials/header'); -%>

<body>
    <section class="profilesection">
        <article>
            <% if (profile) { %>
                <article class="profileText">
            <p class="defaultName">
                <%= profile.firstname %>
            </p>
            <p>
                Favorite genre:
                <%= profile.musicGenre %>
            </p>
            <p>
                Age:
                <%= profile.age %>
            </p>
        </article>
            <img class="profilecard_img" src=<%= profile.profilepicture %>>
            <% } else { %>
            <p>No more users to match</p>
            <img class="profilecard_img" src="images/sadface.jpeg">
            <% } %>
            <!-- <img class="profilecard_img" src="images/profile_img.png"> -->
        </article>
    </section>
    <ul id="buttons">
        <form action="/dislike" method="post">
            <input class="formbuttons" type="image" src="images/dislikebutton.png">
        </form>
        <form action="/like" method="post">
            <input class="formbuttons" type="image" src="images/likebutton.png">
        </form>
    </ul>
</body>
<footer>
    <%- include ('partials/nav'); -%>
</footer>

</html>